<section><h1>Welcome to Bike-1-1</h1></section>

  <section>
    <div class='map'>
      <div id="map-canvas" style="width: 100%; height: 650px;"></div>
    </div>

      <div id="event-detail"></div>
  </section>

  <label class="label-switch">
    <input type="checkbox" />
    <div class="checkbox"></div>
  </label>


<footer>
<script type="text/javascript">
  var map, infowindow;

  function initialize() {

    // var userLAtLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    var userLatLng = new google.maps.LatLng(41.889616, -87.637211)
    // var userLatLng = new google.maps.LatLng(<%= @location.hb_latitude %>, <%= @location.hb_longitude %>)

    map = new google.maps.Map(document.getElementById( "map-canvas"), {
      center: userLatLng,
      zoom: 12
    });

    var request = {
      location: userLatLng,
      radius: 5000,
      keyword: "bike shops"
    }

    infowindow = new google.maps.InfoWindow();
    var service = new google.maps.places.PlacesService(map);
    service.nearbySearch(request, callback);
    var image = { 
                  url: "<%= image_path( 'home_base.png' ) %>",
                  scaledSize: new google.maps.Size(25, 25)
    };
    
    // Creates Marker Text for Current User Pin
    createMarker(userLatLng, "<h3>You are here</h3>", image);

    // Adds Bike Routes to Map -- DON'T DELETE
    // var bikeLayer = new google.maps.BicyclingLayer();
    // bikeLayer.setMap(map);

    // Creates Markers (Pins) for All Current Events

    var image = { 
                  url: "<%= image_path( 'bike_sign.png' ) %>",
                  scaledSize: new google.maps.Size(25, 25)
    };
    <% @events.each do |event| %>
      <% @id = event.id %>
      <% if event.active %>
        var map_event = new google.maps.LatLng(<%= event.latitude %>, <%= event.longitude %>)

        createMarker(map_event, "<h1>Details</h1><h3><%= event.requester.first_name %></h3><p>Karma Points: <%= event.requester.karma_count %></p><p><%= event.request_text %></p><p><a href='/events/" + <%= event.id %> + "' data-confirm='Please confirm you are on your way to help this user.' data-method='put' id='agree-to-help'>Help this User!</a></p>", image);
      <%end%>
    <%end%>

    // Lists bikers in need of help before current_user clicks on a certain marker to view further details
    $('#event-detail').html("<h1>Bikers In Need of Help</h1>");

  } // end initialize()


  // var image = '../../assets/images/chibluebike.png';
  
  // Creates Markers for Events (Help Requests):
  function createMarker(location, content, image) {
  //    var image = 
  //     // url: 
  //     '../../assets/images/chibluebike.png'
  //     // size: new google.maps.Size(20, 32),
  //     // origin: new google.maps.Point(0,0),
  //     // anchor: new google.maps.Point(0, 32)
  //   ;

    // var placeLoc = place.geometry.location;
    // var image = { 
    //               url: "<%= image_path( 'bike.png') %>",
    //               scaledSize: new google.maps.Size(25, 25)
    // };
// console.log(location);
    var marker = new google.maps.Marker({
      map: map,
      position: location,
      icon: image,
      animation: google.maps.Animation.DROP,
      draggable: true,
      // position: place.geometry.location
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(content);
      infowindow.open(map, this);
       $("#event-detail").html(content);
    });

  }

  // Creates Place (Bike Shop) Markers:
  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        var open,
            place = results[i]
        // if (place.opening_hours.open_now){open = "Currently Open"}
        // else {open = "Currently Closed"}

        var content = '<div class="bike_shop">' +
      '<h3 id="firstHeading">' + place.name + '</h3>'+
      '<div id="bodyContent">'+ '<p>' + open + '</p>' + '<p>Rating: ' + place.rating + '</p>' + '</p>' + '<p>Phone: ' + place.formatted_phone_number + '</p>' + '<p>Address: ' + place.formatted_address + '</p>' +'</div>'
        var image = { 
                  url: "<%= image_path( 'repair_shop.png') %>",
                  scaledSize: new google.maps.Size(25, 25)
    };

        createMarker( place.geometry.location, content, image );
      }
    }
  }

  // if (navigator.geolocation) {
  // navigator.geolocation.getCurrentPosition(initialize);
  //   } else {
  //     error('Geo Location is not supported');
  //   }

  google.maps.event.addDomListener( window, 'load', initialize) ;

// var dispatcher = new WebSocketRails( window.location.host + '/websocket' );
var channel = dispatcher.subscribe( 'request' );

channel.bind('new_request', function(message) {
      // console.log("wheeEe", message);
      var event         = JSON.parse( message );
      var latitude      = event.location.latitude;
      var longitude     = event.location.longitude;
      var text          = event.location.request_text;
      var userName      = event.location.first_name;
      var karmaCount    = event.location.karma_count;
      var eventId       = event.location.event_id;
      var test          = "<h1>Details</h1><h3>" + userName + "</h3>" + "<p>" + "Karma Points: " + karmaCount + "</p><p>" + text + "</p><p>" + "<a href='/events/ " + eventId + "' data-confirm='Please confirm you are on your way to help this user.' data-method='put' id='agree-to-help'>Help this User!</a></p>"

      var map_event     = new google.maps.LatLng(latitude,longitude)
      var image = { 
                  url: "<%= image_path( 'bike_sign.png' ) %>",
                  scaledSize: new google.maps.Size(25, 25)
    };
      createMarker(map_event, test, image);
}, 'json');

// channel.bind('new_moblie_request', function(message) {
//       console.log("wheeEe", message);
//       var event         = JSON.parse( message );
//       var latitude      = event.location.latitude;
//       var longitude     = event.location.longitude;
//       var text          = event.location.request_text;
//       var userName      = event.location.first_name;
//       var karmaCount    = event.location.karma_count;
//       var eventId       = event.location.event_id;
//       var test          = "<h1>Details</h1><h3>" + userName + "</h3>" + "<p>" + "Karma Points: " + karmaCount + "</p><p>" + text + "</p><p>" + "<a href='/events/ " + eventId + "' data-confirm='Please confirm you are on your way to help this user.' data-method='put' id='agree-to-help'>Help this User!</a></p>"

//       var map_event     = new google.maps.LatLng(latitude,longitude)
//       var image = { 
//                   url: "<%= image_path( 'bike_sign.png' ) %>",
//                   scaledSize: new google.maps.Size(25, 25)
//     };
//       createMarker(map_event, test, image);
// }, 'json');
// dispatcher.on_open = function(data) {
//   console.log('Connection has been established: ', data);
//   // You can trigger new server events inside this callback if you wish.
// }

// function submitToSocket(data) {
//     dispatcher.trigger('create', data);
// }

</script>
</footer>
