<section class="page-container">
  <section class="page-header">
    <h1>Sign up</h1>
  </section>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :first_name %>
      <%= f.text_field :first_name, autocomplete: "off" %></div>

    <div><%= f.label :last_name %>
      <%= f.text_field :last_name, autocomplete: "off" %></div>

    <div><%= f.label :phone %>
      <%= f.text_field :phone, autocomplete: "off" %></div>

    <div><%= f.label :home_base, "Please provide an address:" %>
      <%= f.text_field :home_base, autocomplete: "off" %></div>

    <div><%= f.hidden_field :karma_count, :value => 0 %></div>
    <div><%= f.hidden_field :hb_radius, :value => 1 %></div>
      
    <div><%= f.submit "Sign up" %></div>
  <% end %>
</section>
