<div class='container'>
<section class="page-container" id="profile-container">
    <section class="page-header">
      <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
      <div id='profile-photo'><%= image_tag gravatar_url(@user) %>
      <h3>Karma Points: <%= @user.karma_count %></h3>
    </section>
    <div class='requests'>
      <h3 class="request-header">Your Help Requests</h3>
      
      <h4 class='my-requests'>Past Requests</h4>
          <table class="table-borders" id="past-requests">
            <thead>
              <tr>
                <th>Cyclist Who Helped You</th>
                <th>Date</th>
                <th>Request</th>
              </tr>
            </thead>
            <tbody>
              <% @user.fulfilled_requests_made.each do |request| %>
                <tr>
                  <td><%= request.responder.first_name %></td>
                  <td><%= request.created_at.to_date %></td>
                  <td><%= request.request_text %></td>
                </tr>        
              <% end %>
            </tbody>
          </table>

      <h4 class='my-requests'>Pending Requests</h4>
          <table class="table-borders">
            <thead>
              <tr>
                <th>Date</th>
                <th>Request</th>
              </tr>
            </thead>
            <tbody>
              <% @user.pending_requests_made.each do |request| %>
                <tr>
                  <td><%= request.created_at.to_date %></td>
                  <td><%= request.request_text %></td>
                </tr>        
              <% end %>
            </tbody>
          </table>

    </div>

    <div class='responses'>
      <h3 class='request-header'>Bikers Rescued</h3>
        <table class="table-borders">
          <thead>  
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Request</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <% @user.responses.each do |response| %>
              <tr>
                <td><%= response.requester.first_name %></td>
                <td><%= response.created_at.to_date %></td>
                <td><%= response.request_text %></td>
                <td><%= response.address %></td>
              </tr>        
            <% end %>
          </tbody>
        </table>
    </div>
  </section>

</div>