<p id="notice"><%= notice %></p>

<p>
  <strong>Requester:</strong>
  <%= @event.requester_id %>
</p>

<p>
  <strong>Responder:</strong>
  <%= @event.responder_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Request Text:</strong>
  <%= @event.request_text %>
</p>


<p>
  <strong>Active:</strong>
  <%= @event.active %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
