<!DOCTYPE html>
<html>
<head>
  <title>Bike11</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
<%= yield %>

</body>
</html>

<!--
fix signup form for first/last name
route to app after login, route to profile after signup -->