<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Bike-1-1</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
<div class="wrapper-for-content-outside-of-footer">
    <%= render 'partials/nav' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  <div class="push"></div>
</div>

<footer class="footer-2">
  <div class="footer-logo">
    <img src="images/logo.png" alt="">
  </div>
    <ul>
      <li>Made by: </li>
      <li><a href="javascript:void(0)">Nate Kandler</a></li>
      <li><a href="javascript:void(0)">Robb Tvorik</a></li>
      <li><a href="javascript:void(0)">Jared Daugherty</a></li>
      <li><a href="javascript:void(0)">Paige Crum</a></li>
      <li><a href="javascript:void(0)">Tom Nullet</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="">
        </a></li>
      </ul>
    </div>
</footer>

  </body>
</html>